<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>作者统计</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>

<!-- 导航栏 -->
<div th:replace="admin/index :: admin_index_navigationbar">
</div>


<div class="wrapper">


    <!-- 侧边栏 -->
    <div th:replace="admin/index :: admin_index_sidebar">
    </div>
    <div class="main-container">
        <div class="padding">
            <ol class="breadcrumb">
                <li><a href="/admin/">首页</a></li>
                <li>作者管理</li>
                <li class="active">作者统计</li>
            </ol>

            <div class="box">
                <div class="box-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="box-label-block theme">
                                <div class="symbol">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">总作者数</h4>
                                    <p>[[${authorNum}]]</p>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>


            <div class="box">
                <div class="heading">
                    <h3 class="title">作者查询<span class="box-toggle"><i class="fa fa-chevron-up"></i></span></h3>
                </div>
                <div class="box-inner">

                    <div class="form-inline form-label-search" role="form">
                        <div class="form-group">
                            <label class="control-label">作者id：</label>
                            <input type="number" min="1" class="form-control" placeholder="按作者id范围搜索" name="start_id">
                            <label class="control-label">—</label>
                            <input type="number" min="1" class="form-control" placeholder="按作者id范围搜索" name="last_id">
                        </div>
                        <div class="form-group">
                            <label class="control-label">作者名：</label>
                            <input type="text" class="form-control" placeholder="按作者名搜索" name="name">
                        </div>


                        <div class="form-group">
                            <label class="control-label">国籍：</label>
                            <select style="width:200px" class="form-control" value=""
                                    name="nationality">
                                <option value="-1">-请选择-</option>
                            </select>
                        </div>


                        <button class="btn btn-success pull-right btn-search" onclick="submitAuthorInformation()">搜索
                        </button>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="WAIT_DELIVER_GOODS"
                             aria-labelledby="WAIT_DELIVER_GOODS-tab">

                            <div class="box">
                                <div class="box-inner">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>作者id</th>
                                                <th>作者名</th>
                                                <th>简介</th>
                                                <th>国籍</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="authorList">

                                            <tr th:each="author:${authorList}">
                                                <td>[[${author.id}]]</td>
                                                <td>[[${author.name}]]</td>
                                                <td style="width: 600px;">[[${author.synopsis}]]</td>
                                                <td>[[${author.nationality}]]</td>
                                                <td><a target="_blank" th:href="'/admin/authorInfo.html/'+${author.id}"
                                                       class="link-show-confirm">查看作者详细信息</a></td>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <nav class="text-center">
                                        <ul class="pagination" id="author_pagenum">
                                            <li><a href="#">&laquo;</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">&raquo;</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>


                            <script th:inline="javascript">


                                var pageNumCount = 0;//总共有多少订单的数量
                                var author_pagenum = 0;//获取到页码的DOM
                                var pageNumber = 0;//总共有几页
                                var pageList = [];//第一条active
                                var first_page = "<li><a onclick='toPage(" + 0 + ")'>&laquo;</a></li>"; //首页
                                var one_page = "<li class='active'><a onclick='toPage(" + 0 + ")'>1</a></li>";//第一页
                                var point_page = 1;
                                var last_page = "";//末页
                                var authorListHTML = document.getElementById("authorList");

                                function getPageNum(page_num) {
                                    author_pagenum = document.getElementById("author_pagenum");
                                    pageNumCount =/*[[${authorByInformationNum}]]*/;

                                    if (page_num != null) {
                                        //不等于null 就给他赋值
                                        pageNumCount = page_num;
                                    }

                                    if (pageNumCount <= 0) {
                                        alert("没有找到作者");
                                    }
                                    pageNumber = Math.ceil(pageNumCount / 5); //向上取整   成页码数
                                    last_page = "<li><a onclick='toPage(" + (pageNumber - 1) * 5 + ")'>&raquo;</a></li>";
                                    pageList = [];
                                    pageList.push(first_page);
                                    pageList.push(one_page);
                                    var s = "";//HTML语句
                                    for (var i = 2; i <= pageNumber; i++) {
                                        var pageListString = "<li><a onclick='toPage(" + (i - 1) * 5 + ")'>" + i + "</a></li>";
                                        pageList.push(pageListString);
                                    }
                                    pageList.push(last_page);
                                    if (pageList.length <= 7) {
                                        //如果页面只有5或者比5少则
                                        for (var i = 0; i < pageList.length - 1; i++) {
                                            s += pageList[i];
                                        }
                                    } else {
                                        //如果页面比5大则只显示前五条
                                        for (var i = 0; i < 6; i++) {
                                            s += pageList[i];
                                        }
                                    }
                                    s += pageList[pageList.length - 1];
                                    //alert(s);
                                    author_pagenum.innerHTML = s;

                                }

                                getPageNum();


                                //只需要向后端发送获取第几条  其他都会在session中找
                                function toPage(num) {


                                    //将所有li都没class的赋值给pageList

                                    //这种写法是错误的 因为都是引用类型
                                    // pageList = pageList2;
                                    pageList[point_page] = "<li><a onclick='toPage(" + (point_page - 1) * 5 + ")'>" + point_page + "</a></li>";
                                    point_page = num / 5 + 1;
                                    pageList[point_page] = "<li class='active'><a onclick='toPage(" + num + ")'>" + (num / 5 + 1) + "</a></li>";
                                    var s = pageList[0];
                                    //alert(s);
                                    if (pageList.length <= 7) {
                                        //如果页面只有5或者比5少则
                                        for (var i = 1; i < pageList.length - 1; i++) {
                                            s += pageList[i];
                                        }
                                        //alert("1--"+s);
                                    } else {
                                        //如果页面比5大则显示num/5+1的左右两条  为什么是-4 因为右边有两页还有最后的标志还有因为从0开始

                                        if (point_page < 4) {// 小于4就是按了123
                                            for (var i = 1; i < 6; i++) {
                                                s += pageList[i];
                                            }
                                            //alert("2--"+s);
                                        } else {//按了大于3 的 456789之类的 << 1 2 3 4 5 6 7 8 9 10 11 12 >>  14个  按了大于10的 例如11
                                            if (point_page > (pageList.length - 4)) {
                                                for (var i = pageList.length - 6; i <= pageList.length - 2; i++) {
                                                    s += pageList[i];
                                                }
                                                //alert("3--"+s);
                                            } else {
                                                for (var i = point_page - 2; i <= point_page + 2; i++) {
                                                    s += pageList[i];
                                                    //alert(i+"--4--"+s);
                                                }
                                                //alert("4--"+s);
                                            }
                                        }
                                    }
                                    s += pageList[pageList.length - 1];
                                    //alert("5--"+s);
                                    author_pagenum.innerHTML = s;

                                    $.ajax({
                                        //TODO
                                        url: "/admin/toPageAuthor/" + num,
                                        type: "POST",
                                        dataType: "json",
                                        success: function (data) {//这个data就是返回来的json数据
                                            var authorList = data.authorList;
                                            changeAuthorList(authorList);
                                        },
                                        error: function () {
                                            document.getElementById("author_pagenum").innerHTML = '获取信息错误';
                                        }
                                    });
                                }

                                function changeAuthorList(authorList) {
                                    var s = "";
                                    for (var i = 0; i < authorList.length; i++) {
                                        s += "<tr><td>" + authorList[i].id + "</td>" +
                                            "<td>" + authorList[i].name + "</td>" +
                                            "<td style='width: 600px;'>" + authorList[i].synopsis + "</td>" +
                                            "<td>" + authorList[i].nationality + "</td>" +
                                            "<td><a target='_blank' href='/admin/authorInfo.html/" + authorList[i].id + "' class='link-show-confirm'>查看作者详细信息</a></td>" +
                                            "</tr>";
                                    }
                                    authorListHTML.innerHTML = s;
                                }

                                function formatDate(now) {
                                    var year = now.getFullYear();
                                    var month = now.getMonth() + 1;
                                    var date = now.getDate();
                                    var hour = now.getHours();
                                    var minute = now.getMinutes();
                                    var second = now.getSeconds();
                                    return year + "-" + month + "-" + date + " " + hour + ":" + minute + ":" + second;
                                }


                                function submitAuthorInformation() {

                                    var start_id = document.getElementsByName("start_id")[0].value;
                                    var last_id = document.getElementsByName("last_id")[0].value;
                                    var username1 = document.getElementsByName("name")[0].value;
                                    var name = "";
                                    if (username1 != null && username1 != "") {
                                        var usernamechar = username1.split('');
                                        //alert(usernamechar);
                                        for (var i = 0; i < usernamechar.length; i++) {
                                            name += "%" + usernamechar[i];
                                        }
                                        name += "%";
                                        //alert(username);
                                    } else {
                                        name = username1;
                                        //alert("11"+username1);
                                    }

                                    var nationality = document.getElementsByName("nationality")[0].value;


                                    $.ajax({
                                        url: "/admin/authorInformation",
                                        type: "POST",
                                        data: {
                                            'start_id': start_id,
                                            'last_id': last_id,
                                            'name': name,
                                            'nationality': nationality
                                        },
                                        dataType: "json",
                                        success: function (data) {//这个data就是返回来的json数据
                                            //是否将信息 放到了session中
                                            if (data.message == "搜索成功") {
                                                getPageNum(data.authorByInformationNum);
                                                changeAuthorList(data.authorList);
                                            }
                                        },
                                        error: function () {
                                            document.getElementById("author_pagenum").innerHTML = '获取信息错误';
                                        }
                                    });
                                }


                                var nationality =/*[[${nationality}]]*/;

                                function changenationalily() {

                                    var nationalityHTML = document.getElementsByName("nationality")[0];
                                    var s = "<option value='-1'>-请选择-</option>";
                                    for (var i = 0; i < nationality.length; i++) {
                                        s += "<option value='" + nationality[i] + "'>" + nationality[i] + "</option>";

                                    }
                                    nationalityHTML.innerHTML = s;
                                }

                                changenationalily();

                            </script>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="scroll-to-top"><i class="fa fa-chevron-up fa-lg"></i></div>


<script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<script src="/assets/bootstrap-daterangepicker/moment.min.js"></script>
<script src="/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="/js/main.js"></script>
</body>

</html>