<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">

    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Flat-UI-master/dist/css/flat-ui.min.css"/>
    <script src="Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <title></title>
    <style>
        .row{
            margin-left: 20px;
            margin-right: 20px;;
        }
        .line-center{
            line-height:50px;
            text-align: center;
        }
        .row input{
            width: 50px;
        }
        .list-group-item:hover{
            background: #27ae60;

        }
        .list-group-item div:first-child:hover{

            cursor: pointer;
        }
    </style>
    <script>
        function myClick(n){
           location.href = "OrderInfo.html";
        }
        function btnClick(){
            alert("btn");
            return false;
        }
        $(function(){

        })
    </script>
</head>
<body>
<!-- Static navbar -->
<div th:replace="Index :: head">
</div>
<!--content-->
<div class="container">
    <div class="row thumbnail center">
        <div class="col-sm-12">
            <h1 class="text-center" style="margin-bottom: 30px">我的订单</h1>
        </div>
        <div class="col-sm-12 thumbnail">
            <div class="col-sm-3 line-center">订单编号</div>
            <div class="col-sm-2 line-center">订单状态</div>
            <div class="col-sm-2 line-center">商品数量 </div>
            <div class="col-sm-2 line-center">订单总价</div>
            <div class="col-sm-3 line-center">操作</div>
        </div>
        <div class="list-group">
            <div class="col-sm-12  list-group-item" >
                <div class="col-sm-3 line-center" onclick="myClick(1)">ahiudsfhjk-23423-23asd-12</div>
                <div class="col-sm-2 line-center">未付款</div>
                <div class="col-sm-2 line-center">12 </div>
                <div class="col-sm-2 line-center">1231.00元</div>
                <div class="col-sm-3 line-center">
                    <button class="btn btn-danger">删除订单</button>
                    <button class="btn btn-success">提交订单</button>

                </div>
            </div>
            <div class="col-sm-12  list-group-item" >
                <div class="col-sm-3 line-center" onclick="myClick(2)">ahiudsfhjk-23423-23asd-12</div>
                <div class="col-sm-2 line-center">未付款</div>
                <div class="col-sm-2 line-center">12 </div>
                <div class="col-sm-2 line-center">1231.00元</div>
                <div class="col-sm-3 line-center">
                    <button class="btn btn-danger">删除订单</button>
                    <button class="btn btn-success">提交订单</button>

                </div>
            </div>
            <div class="col-sm-12  list-group-item" >
                <div class="col-sm-3 line-center" onclick="myClick(3)">ahiudsfhjk-23423-23asd-12</div>
                <div class="col-sm-2 line-center">未付款</div>
                <div class="col-sm-2 line-center">12 </div>
                <div class="col-sm-2 line-center">1231.00元</div>
                <div class="col-sm-3 line-center">
                    <button class="btn btn-danger">删除订单</button>
                    <button class="btn btn-success">提交订单</button>

                </div>
            </div>
            <div class="col-sm-12  list-group-item" >
                <div class="col-sm-3 line-center" onclick="myClick(4)">ahiudsfhjk-23423-23asd-12</div>
                <div class="col-sm-2 line-center">未付款</div>
                <div class="col-sm-2 line-center">12 </div>
                <div class="col-sm-2 line-center">1231.00元</div>
                <div class="col-sm-3 line-center">
                    <button class="btn btn-danger">删除订单</button>
                    <button class="btn btn-success">提交订单</button>
                </div>
            </div>

    </div>
</div>


<!--footer-->
<div class="navbar navbar-default navbar-static-bottom">
    版权声明区
</div>
</body>
</html>