<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link href="/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/Flat-UI-master/dist/css/flat-ui.min.css"/>
    <script src="/Flat-UI-master/dist/js/vendor/jquery.min.js"></script>
    <script src="/js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="/Flat-UI-master/dist/js/flat-ui.min.js"></script>

    <title>Order</title>
    <style>
        .row {
            margin-left: 20px;
            margin-right: 20px;;
        }

        .line-center {
            line-height: 50px;
            text-align: center;
        }

        .row input {
            width: 50px;
        }

        .list-group-item:hover {
            background: #27ae60;

        }

        .list-group-item div:first-child:hover {

            cursor: pointer;
        }
    </style>

</head>
<body>
<!-- Static navbar -->
<div th:replace="Index :: head_item">
</div>

<!--content-->
<div class="container">
    <div class="row thumbnail center">
        <div class="col-sm-12">
            <h1 class="text-center" style="margin-bottom: 30px">我的订单</h1>
        </div>
        <div class="col-sm-12 thumbnail">
            <div class="col-sm-3 line-center">订单编号</div>
            <div class="col-sm-2 line-center">订单状态</div>
            <div class="col-sm-2 line-center">商品数量</div>
            <div class="col-sm-2 line-center">订单总价</div>
            <div class="col-sm-3 line-center">操作</div>
        </div>

        <div th:if="${message} ne null">[[${message}]]</div>
        <div th:if="${orderList} ne null">   <!--如果订单不为空 -->
            <div class="list-group" id="order_father">

                <form action="/orderInfo" method="post" th:id="'order_'+${order.id}" th:each="order:${orderList}">
                    <input type="hidden" name="userid" th:value="${session.login_user.id}">
                    <input type="hidden" name="orderid" th:value="${order.id}">
                    <div class="col-sm-12  list-group-item">
                        <div class="col-sm-3 line-center">[[${order.id}]]</div>
                        <div class="col-sm-2 line-center" th:text="${order.state.name}">未付款</div>
                        <div class="col-sm-2 line-center" th:text="${order.number}">12</div>
                        <div class="col-sm-2 line-center" th:text="${order.totalPrice}">1231.00元</div>
                        <div class="col-sm-3 line-center">
<!--                            <button class="btn btn-danger" th:onclick="'deleteOrder('+${order.id}+')'">删除订单</button>-->
                            <button class="btn btn-success" type="submit">查看订单</button>
                            <!-- 如果是未付款的订单 查看订单界面付款 -->
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    function deleteOrder(orderid) {
        var order_ = document.getElementById("order_" + orderid);
        document.getElementById("order_father").removeChild(order_);
        //alert(orderid);

        $.ajax({
            url: "/deleteOrder/" + orderid,
            type: "POST",
            data: {_method: "DELETE"},
            dataType: "json",
            success: function (data) {//这个data就是返回来的json数据
                alert(data.message);
            },
            error: function () {
                alert("服务器错误");
            }
        });
    }


</script>
<!--footer-->
<div th:replace="Index :: end">
</div>
</body>
</html>